@import "vars"

//Large: ≥992px
+media-breakpoint-down(lg)

//Medium: ≥768px
+media-breakpoint-down(md)
	.dev
		float: none
		margin: 20px auto
//Small: ≥576px
+media-breakpoint-down(sm)
	.main
		&__ttl
			font-size: 22px
		&__subttl
			font-size: 16px
		&-list
			padding: 0 20px
	.foot
		&__addr
			margin-bottom: 20px
		&__phone
			&:last-child
				margin-bottom: 20px
		&-soc
			display: table
			margin: 0 auto

//Extra small: >0
+media-breakpoint-down(xs)
	.head
		&__name
			padding-left: 0
			border-left: none
			text-align: center
			margin-top: 10px
	.main
		.container
			padding: 40px 10px
		&__btn
			padding: 8px 60px
			span
				max-width: 160px
		&__subttl
			background-color: transparent
			color: #000
		&__ttl
			span
				color: #fff
				background-color: #000
				display: inline-block
				padding: 2px 8px
		&-list
			&__li
				float: none
				width: 100%
				padding-left: 50px
				&.last
					margin-bottom: 20px
				i
					width: 40px
					height: 40px
					line-height: 40px
	.foot
		&__addr
			text-align: center
			padding-left: 0
			&:before
				display: none
		&__phone
			padding-left: 0
			background-image: none

